JWT_SECRET_KEY='your-super-secret-jwt-token-with-at-least-32-characters-long'
WEBHOOK_VERIFY_TOKEN='your-super-secret-and-long-verify-token'
WHATSAPP_ACCESS_TOKEN=
FACEBOOK_APP_SECRET=
NEXT_PUBLIC_SUPABASE_URL='http://localhost:54321'
NEXT_PUBLIC_SUPABASE_ANON_KEY=''
SUPABASE_SERVICE_ROLE=''
WHATSAPP_API_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
